
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title><%= title %></title>

        <!--css here-->

        <link rel="stylesheet" type="text/css" href="">
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700i|Josefin+Sans:700" rel="stylesheet">
        <link href="/stylesheets/main.css" rel="stylesheet">
        <link rel="icon" href="/images/logo.png">



    </head>
    <body>
        <div class="container main">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive img-rabbit" src="/images/about.jpg">
                </div>

                <div class="col-md-6">
                    <a href="/" class="btn btn-rabbit back"> <i class="fa fa-home" aria-hidden="true"></i> Home </a> <a style="float: right;" href="/work" class="btn btn-rabbit forward"> <%= next %><i class="fa fa-briefcase" aria-hidden="true"></i></a>
                    <div id="watermark">
                        <h2 class="page-title text-center"><%= title %></h2>
                        <div class="marker"><%= marker %></div>
                    </div>
                    <p class='subtitle'>Hi, I am Barnabas, a Windows and Web developer from Koforidua, Ghana. I am passionate about development, interaction, and effecting change through STEM. I love to teach, and walk students through simple building blocks of algorithms. I also love to build lesson examples to help beginners understand certain programming languages and conventions.
                    </p>
                    <p class="info">I've long had a dream to transform Africa by empowering youth through technology. I'm a self-taught programmer with a passion for Arduino powered Maker Projects. When I'm not coding or hacking together independent projects, you can usually find me working for <a href="http://elite-education.org">Emerging Leaders in Technology and Engineering (ELiTE)</a>, the US based non-profit that first introduced me to engineering. At <a href="http://elite-education.org">ELiTE</a>, we use Raspberry Pi laptops to assemble portable computer labs, bringing computer science and open source software to communities that can benefit most from this developer community.</p>
                    <% include templates/social.ejs %>
                </div>

            </div>
            <% include templates/footer.ejs %>
        </div>




        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>



        <script src="/javascripts/jquery-3.1.0.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/owl.carousel.min.js"></script>
        <script src="/javascripts/main.js"></script>
    </body>
</html>