<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--<meta http-equiv="refresh" content="5">-->

    <title>Barnabas Nomo's Events</title>

    <!--css here-->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700i|Josefin+Sans:700" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link rel="icon" href="/images/logo1.ico">

    <script type="text/javascript" id="gretaScript" src="https://cdn.greta.io/greta.min.js"
            data-ac="274c8d0f5a3d4e6a95fef74e72441bf8"></script>
</head>
<body>
<div class="container main" style="min-height: 100vh">

    <div class="row" style="margin-top: 40px">
        <div class="col-md-6 col-sm-offset-0">

            <div id="watermark">
                <h2 class="page-title text-center">Kodeforidua</h2>
                <div class="marker">Weekly Hackathons</div>
            </div>
        </div>


    </div>
    <div class="row">


        <div class="col-md-9 col-md-offset-2">

            <p class='subtitle'>Reincarnation happens when you desire heaven so esoterically that whatsoever you are luring is your anger.
                When the individual of death avoids the issues of the spirit, the conclusion will know moon.
                The dimension of your freedoms will travel earthly when you shape that zen is the master.
                The suffering is a celestine scholar.
            </p>


            <div class="col-md-12 text-center">
                <button class="btn btn-rabbit" style="letter-spacing: 1vw" data-toggle="modal"
                        data-target="#registerModal"><i class="fa fa-bookmark"
                                                        aria-hidden="true"></i> Register <i class="fa fa-bookmark"
                                                                                            aria-hidden="true"></i>
                </button>
            </div>


            <div id="registerModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Register</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-group">
                                <fieldset class="form-group form-inline">
                                    <input class="form-group form-control" type="text" placeholder="First Name"
                                           name="first_name" id="first_name" required>
                                    <input class="form-group form-control" type="text" placeholder="Last Name"
                                           name="last_name" id="last_name" required>
                                </fieldset>
                                <fieldset class="form-group form-inline">
                                    <h4>Sex</h4>

                                    <p class="col-sm-6">Male: <br><input class="form-group form-control" type="radio" placeholder="Male"
                                                                         name="sex" id="sex" required></p>
                                    <p class="col-sm-6">Female: <br><input class="form-group form-control" type="radio" placeholder="Female"
                                                                           name="sex" id="sex" required></p>
                                </fieldset>

                                <fieldset class="form-group">

                                    <input class="form-group form-control" type="email" placeholder="Email"
                                           name="email" id="email" required>
                                </fieldset>
                                <fieldset class="form-inline">

                                    <select class="form-control" name="country_code" style="width:250px;">
                                    <% countries.forEach(function (item) { %>
                                        <%if(item[1].calling_code !==''||item[1].country_name!==''){%>
                                    	<option <% if (item[0] === 'GH'){%>selected<%} %> value="<%= item[1].calling_code %>">
                                        +(<%= item[1].calling_code %>)    <%= item[1].country_name %>
                                        </option>
                                        <%}%>
                                   <% }) %>
                                    </select>





                                    <input class="form-control" type="tel" placeholder="Phone"
                                           name="phone" id="phone" required>
                                </fieldset>


                                <fieldset>
                                    <input type="submit" class="btn btn-success pull-right" style="margin-top: 20px;" value="Submit">
                                </fieldset>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-rabbit" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <p class="info">I've long had a dream to transform Africa by empowering youth through technology. I'm a
                self-taught programmer with a passion for Arduino powered Maker Projects. When I'm not coding or hacking
                together independent projects, you can usually find me working for <a href="http://elite-education.org">Emerging
                    Leaders in Technology and Engineering (ELiTE)</a>, the US based non-profit that first introduced me
                to engineering. At <a href="http://elite-education.org">ELiTE</a>, we use Raspberry Pi laptops to
                assemble portable computer labs, bringing computer science and open source software to communities that
                can benefit most from this developer community.</p>
        </div>
        <% include templates/social.ejs %>

    </div>
    <% include templates/footer.ejs %>
</div>


<!-- JS -->


<script src="/javascripts/bootstrap.min.js"></script>


<!--Google Analytics-->
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
		a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-87349035-1', 'auto');
	ga('send', 'pageview');
</script>


<script src="/javascripts/jquery-3.1.0.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

<!--<script src="/javascripts/owl.carousel.min.js"></script>-->
<script src="/javascripts/main.js"></script>


<!--Google Analytics-->
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
		a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-87349035-1', 'auto');
	ga('send', 'pageview');
</script>


</body>

</html>