<!DOCTYPE html>
<html lang="en" ng-app="work">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Barnabas Nomo Portfolio">
  <meta name="keywords" content="Barnbas,Mawukley,Nomo,Barnabas Nomo,Barnabas Mawukley Nomo,teacher,ELiTE,Kowus,">
  <meta name="author" content="Barnabas Nomo,Kowus,WOEP">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Barnabas : Home</title>
  <link rel="icon" type="image/icon" href="/images/tabicon.ico">


  <!--css here-->

  <link rel="stylesheet" type="text/css" href="">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700i|Josefin+Sans:700" rel="stylesheet">
  <link href="/stylesheets/main.css" rel="stylesheet">
  <link rel="icon" href="/images/logo1.png">

  <!--angular js-->

  <script type="text/javascript" src="/javascripts/app/angular.min.js"></script>
  <script type="text/javascript" src="/javascripts/app/app.js"></script>



</head>

<body>
<div class="container main">
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive img-rabbit" src="/images/home.jpg">
    </div>
    <div class="col-md-6 text-center">
      <div class="logo">
        <img src="/images/logo1.png" height="200px">
        <h4>The World Is Yours</h4>
      </div>
      <p class="home-description">
        Hi, I am Barnabas, a Windows and Web developer from Koforidua, Ghana. I am passionate about development, interaction, and
        effecting change through STEM. I love to teach, and walk students through simple building blocks of algorithms. I also
        love to build lesson examples to help beginners understand certain programming languages and conventions.
      </p>
      <div class="btn-group-vertical custom_btn">
        <a href="/about" class="btn btn-rabbit _active">About</a>
        <a href="/work" class="btn btn-rabbit">Activities</a>
        <!--<a href="/contact" class="btn btn-rabbit">Contact</a>-->
      </div>
      <% include templates/social.ejs %>
    </div>
  </div>
  <% include templates/footer.ejs %>
</div>





<script src="/javascripts/jquery-3.1.0.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>
<!-- JS -->
</body>

</html>
