<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hi, I am Barnabas, a Windows and Web developer from Koforidua, Ghana. I am passionate about development, interaction, and effecting change through STEM. I love to teach, and walk students through simple building blocks of algorithms. I also love to build lesson examples to help beginners understand certain programming languages and conventions.">
    <meta name="keywords" content="Barnabas Nomo,Mawukley,Coders In Africa, Koforidua Developer">
    <meta name="author" content="Barnabas Nomo">
    <link rel="icon" href="/images/logo1.ico">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Barnabas Nomo : Home</title>




    <!--Google Analytics-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-87349035-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>

<body>

<% include templates/preloader.ejs %>
<a name="top"></a>
<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive img-rabbit my-img" src="/images/home_2.jpg">
        </div>
        <div class="col-md-6 text-center">
            <div class="logo">
                <img src="/images/logo1.ico" height="200px">
                <h4>The World Is Yours</h4>
            </div>
            <p class="home-description">

                Hi, I am Barnabas, a Windows and Web developer from Koforidua, Ghana. I am passionate about development,
                interaction, and
                effecting change through STEM. I love to teach, and walk students through simple building blocks of
                algorithms. I also
                love to build lesson examples to help beginners understand certain programming languages and
                conventions.
            </p>
            <div class="btn-group-vertical custom_btn">
                <a href="/about" class="btn btn-rabbit _active">About</a>
                <a href="/work" class="btn btn-rabbit">Activities</a>
                <a href="/blog" class="btn btn-rabbit">Blog</a>
            </div>
            <% include templates/social.ejs %>
        </div>
    </div>
    <% include templates/footer.ejs %>
</div>



<!-- JS -->
<script type="text/javascript" id="gretaScript" src="https://cdn.greta.io/greta.min.js" data-ac="274c8d0f5a3d4e6a95fef74e72441bf8"></script>
<script src="/javascripts/bootstrap.min.js"></script>

<script>
    var cb = function(href) {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = href;
        var h = document.getElementsByTagName('head')[0]; h.appendChild(l);
    };
    cb('/stylesheets/bootstrap.min.css');
    cb("/stylesheets/bootstrap-theme.min.css");
    cb('/stylesheets/font-awesome.min.css');
    cb('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i');
    cb('https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700i|Josefin+Sans:700')
    cb('/stylesheets/main.css');
</script>


</body>

</html>
