<footer class="text-center">
    <div class="container bottom">
        <div class="row">
            <div class="col-sm-12">
                <!--<h2><i class="fa fa-heartbeat" aria-hidden="true"></i></h2>-->
                <p>
                    <a href="https://www.kowus.xyz/">Kowus</a>
                </p>
            </div>
        </div>
    </div>
</footer>