<footer class="text-center">
    <div class="container bottom">
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <p class="lead">
                <p>
                    © <small>Barnabas Nomo <small>2016 - <%=Year%></small></small>
                </p>
                <a href="#top" class="footer-text" style="color: darkred; font-size: small;">
                    <i class="fa fa-globe" style="margin-right: 10px;"></i> The World Is Yours
                </a>
                </p>
                <ul class="list-inline footer-text" style="color: red;">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/activities">Activities</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/events">Events</a></li>
                    <%= typeof user!='undefined' ? '<li><a href="/logout">Logout</a></li>' : '' %>
                </ul>
            </div>
        </div>
    </div>
</footer>
