<div id="registerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Register</h3>
            </div>
            <div class="modal-body">
                <form class="form-group form-group-sm">
                    <fieldset class="form-group form-inline">
                        <input class="form-group form-control" type="text" placeholder="First Name"
                               name="first_name" id="first_name" required>
                        <input class="form-group form-control" type="text" placeholder="Last Name"
                               name="last_name" id="last_name" required>
                    </fieldset>

                    <fieldset class="form-group">

                        <input class="form-control" type="email" placeholder="Email"
                               name="email" id="email" required style="max-width: 70%">
                    </fieldset>
                    <!--<fieldset class="form-inline">



                        <input class="form-control" type="tel" placeholder="Phone"
                               name="phone" id="phone" required>
                    </fieldset>-->


                    <fieldset>
                        <input type="submit" class="btn btn-success pull-right" style="margin-top: 20px;" value="Submit">
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rabbit" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>